# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
ENV/
.env

# Testing & temporary output
.pytest_cache/
test-output.txt
*.tmp
*.log

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db

# IDE & Editor files
.vscode/
.idea/
